# Web Framework
django
djangorestframework
django-cors-headers

# LangChain & AI
langchain
langchain-community
langchain-text-splitters


# Vector Database & Xử lý PDF
faiss-cpu
qdrant-client
pypdf
sentence-transformers
python-docx
pytesseract
Pillow
ragas
datasets


# Tiện ích
python-dotenv
requests